a
{
    text-decoration: none;    
}

ul
{
    background-color: #333;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* border-bottom: black; */
    /* border-bottom-style: solid; */
    /* border-bottom-width: thin; */
}


li
{
    float: left;
}

li a
{
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
}

li a:hover:not(.active)
{
    background-color: #111;
}

.active
{
    background-color: #4CAF50;
}

